<div class="header-row row">
    <section class="order-md-2 col-md ads">
        <div class="img-fluid ads-img"><img src="./assets/images/banner/banner-reklami.png" alt="reklam"></div>
    </section>
    <section class="order-md-1 col-md-7 col-xxl-6 header-content row">
        <div class="header-top col row">
            <div class="col-auto logo"><img src="./assets/images/logo.png" alt=""></div>
            <a onclick="toggleMenu()" id="hamburger-menu" class="col d-flex justify-content-end align-items-center">
                <svg enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/><path d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/><path d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"/></svg>
            </a>
            <ul id="action-top-menu" class="header-menu col row">
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="page.html">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/anasayfa.png"/>
                        </span>
                        <span class="label">Anasayfa</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/arama.png"/>
                        </span>
                        <span class="label">Arama</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/tec-data.png"/>
                        </span>
                        <span class="label">TecData</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="sepet.html">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/sepet.png"/>
                        </span>
                        <span class="label">Sepet</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/bakiye.png"/>
                        </span>
                        <span class="label">Bakiye</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/siparis.png"/>
                        </span>
                        <span class="label">Sipariş</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/oem.png"/>
                        </span>
                        <span class="label">OEM</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/hesap.png"/>
                        </span>
                        <span class="label">Hesap</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a target="_blank" href="payment.html">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/pos.png"/>
                        </span>
                        <span class="label">POS</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/katalog.png"/>
                        </span>
                        <span class="label">Katalog</span>
                    </a>
                </li>
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/rapor.png"/>
                        </span>
                        <span class="label">Rapor</span>
                    </a>
                </li>
                <!--
                <li class="col-sm-6 col-md-4 col-lg co-xl">
                    <a href="">
                        <span class="icon">
                            <img class="shadow-filter" src="./assets/images/main-menu/diger.png"/>
                        </span>
                        <span class="label">Diğer</span>
                    </a>
                </li>
                -->
            </ul>
        </div>
        <div class="header-center header-form col-auto">
            <div class="header-form-options white-bg">
                <button class="spatial-button"><img src="./assets/images/select-box/uretici-yaziniz.png" alt=""></button>
                <select placeholder="Üretici yazınız..." class="spatial-select select2" id="browser">
                    <option value="2.0 or higher">
                        Üretici yazınız...
                    </option>
                    <option value="1.5.x">3M</option>
                    <option value="1.0.x">3RG</option>
                    <option value="1.0.x">404</option>
                
                    <optgroup label="ABA">
                        <option value="7.0 or higher">
                            ABA-AV
                        </option>
                    </optgroup>

                    <option>ABORN</option>
                    <option>ACHR</option>
                    <option>ACQTECH</option>
                    <option>ADANAR</option>
                    <option>ADM</option>
                    <option>AE</option>
                    <option>AEM</option>
                    <option>AIRCOMFORT</option>
                </select>
                <button class="spatial-button"><img src="./assets/images/select-box/secimi-temizle.png" alt=""></button>
                <button onclick="triggerSelect('browser')" class="spatial-button"><img src="./assets/images/select-box/secim-arrow.png" alt=""></button>
            </div>
            <div class="header-form-options white-bg">
                <button class="spatial-button"><img src="./assets/images/select-box/arac-yaziniz.png" alt=""></button>
                <select placeholder="Araç yazınız..." class="spatial-select select2" id="arac">
                    <option value="2.0 or higher">
                        Araç yazınız...
                    </option>
                    <optgroup label="Alfa Romeo">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                    
                    <optgroup label="Anadol">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                
                    <optgroup label="AUDI">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>

                    <optgroup label="BMC">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                    
                    <optgroup label="BMW">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                </select>
                <button class="spatial-button"><img src="./assets/images/select-box/secimi-temizle.png" alt=""></button>
                <button onclick="triggerSelect('arac')" class="spatial-button"><img src="./assets/images/select-box/secim-arrow.png" alt=""></button>
            </div>
            <div class="header-form-options white-bg">
                <button class="spatial-button"><img src="./assets/images/select-box/parca-yaziniz.png" alt=""></button>
                <select placeholder="Parça yazınız..." class="spatial-select select2" id="parca">
                    <option value="2.0 or higher">
                        Parça yazınız...
                    </option>
                    <optgroup label="Yağ antifiriz akü lastik">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                    
                    <optgroup label="Fren sistemleri">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                
                    <optgroup label="Motor ve parçaları">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>

                    <optgroup label="Soğutma ve ısı sistemleri">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                    
                    <optgroup label="Kabin iç trim parçaları">
                        <option value="7.0 or higher">
                            ...
                        </option>
                    </optgroup>
                </select>
                <button class="spatial-button"><img src="./assets/images/select-box/secimi-temizle.png" alt=""></button>
                <button onclick="triggerSelect('parca')" class="spatial-button"><img src="./assets/images/select-box/secim-arrow.png" alt=""></button>
            </div>
        </div>
        <div class="header-bottom header-form col-auto">
            <div class="header-form-options white-bg">
                <button class="spatial-button"><img src="./assets/images/select-box/arama-sonucu.png" alt=""></button>
                <input class="spatial-input" type="text" placeholder="Ürün Ara..." />
                <button class="spatial-button"><img src="./assets/images/select-box/secimi-temizle.png" alt=""></button>
                <button class="spatial-button"><img src="./assets/images/select-box/yeni-urunler.png" alt=""></button>
                <button class="spatial-button"><img src="./assets/images/select-box/kampanyali-urunler.png" alt=""></button>
                <button class="spatial-button"><img src="./assets/images/select-box/arama-yap.png" alt=""></button>
                <button class="spatial-button"><img src="./assets/images/select-box/secim-arrow.png" alt=""></button>
            </div>
        </div>
    </section>
</div>