<div id="action-button" class="btn-group-left">
    <button data-id="arama-sonuc" class="btn dinamik-btn-top active">
        <i><img src="./assets/images/tabs/arama-sonucu.png"/></i>
        Arama Sonucu <span class="aldiklarim-adet">(1277)</span>
    </button>
    <button data-id="es-deger-urunler" class="btn dinamik-btn-top">Eş Değer Ürünler</button>
    <button data-id="oem" class="btn dinamik-btn-top">Oem</button>
    <button data-id="capraz-kodlar" class="btn dinamik-btn-top">Çapraz Kodlar</button>
    <button data-id="araclar" class="btn dinamik-btn-top">Araçlar</button>
    <button data-id="stok" class="btn dinamik-btn-top">Stok</button>
    <button data-id="aldiklarim" class="btn dinamik-btn-top active">
        <i><img src="./assets/images/tabs/aldiklarim.png"/></i>
        Aldıklarım <span class="aldiklarim-adet">(311)</span>
    </button>
</div>
<div class="btn-group-right">
    <button class="btn dinamik-btn-top">Tüm Ürünler</button>
    <button class="btn dinamik-btn-top active">Stokta Olanlar</button>
</div>