<table class="table">
    <thead>
        <tr ondblclick="openModalBox()">
            <th style="width: 10%;" scope="col" class="text-left">Stok Kodu</th>
            <th scope="col" class="text-left">Ref No.</th>
            <th style="width: 100%;" scope="col" class="text-left">Ürün Adı</th>
            <th scope="col">
                <img src="./assets/images/data-table/camera-header.png" />
            </th>
            <th scope="col">61</th>
            <th scope="col">55</th>
            <th scope="col">38</th>
            <th scope="col">216</th>
            <th scope="col">Spot</th>
            <th scope="col">Toplam</th>
            <th scope="col">Br.</th>
            <th scope="col">Liste Fiyatı</th>
            <th scope="col">KDV'siz Maliyet</th>
            <th scope="col">KDV'li Maliyet</th>
            <th scope="col">İskonto</th>
        </tr>
    </thead>
    <!-- First Group Row Start -->
    <tbody>
        <tr ondblclick="openModalBox()">
            <td class="pl-1">KALE B 25250 188 05</td>
            <td class="ref-no">1608691380 <br>1610699280 </td>
            <td>
                ON FREN BALATASI P310 C ELYSEE EB2 (1,2VTI 12V) / EC5 (1,6VTI 16V) P308 II 2013> (MANDO TIPI)
                <i class="kampanyali"> Kampanyalı</i>

                <i class="note-message">
                    <i class="pin"><img src="./assets/images/data-table/red-pin.png"/></i>
                <div class="note-box yellow-background">
                    Üretici kısıtlaması:MANDO Aşınma ikaz kontağı: Aşınma ikaz göstergesi için hazırlanmış değil Uzunluk:133,00 mm Yükseklik:52,30 mm Kalınlık/Kuvvet:18,80 mm Kontrol işareti:E9
                </div>
                </i>

            </td>
            <td class="text-center">
                <a class="data-modal" data-toggle="modal" data-target="#exampleModal">
                    <img src="assets/images/data-table/camera.png" />
                    <div class="modal-img">
                        <img src="./assets/images/example-product.png" alt="">
                    </div>
                </a>
            </td>
            <td class="text-center yesil-kutu">
                <div>11</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>12</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>19</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>25</div>
            </td>
            <td class="text-center">
                <img src="./assets/images/data-table/cancel.png" />
            </td>
            <td class="text-center sari-kutu">
                <div>170</div>
            </td>
            <td class="text-center">tk.</td>
            <td class="text-right pr-1">103,27 ₺</td>
            <td class="text-right pr-1">58,76 ₺</td>
            <td class="text-right pr-1" style="font-weight: bold; color:#155092">69,34 ₺</td>
            <td class="text-black iskonto">
                <i class="iskonto-icon">
                    <img src="assets/images/data-table/iskonto.png"/>
                </i>
                <span>%35</span>
                <span class="text-green">+</span>
                <span>5</span>
                <span class="text-green">+</span>
                <span>5</span>
                <span class="text-green">+</span>
                <span class="text-green-bold">4</span>
            </td>
        </tr>
        <tr ondblclick="openModalBox()">
            <td class="pl-1">KALE B 25250 188 05</td>
            <td class="ref-no">1608691380 <br>1610699280 </td>
            <td>
                ON FREN BALATASI P310 C ELYSEE EB2 (1,2VTI 12V) / EC5 (1,6VTI 16V) P308 II 2013> (MANDO TIPI)
                <i class="kampanyali"> Kampanyalı</i>

                <i class="note-message">
                    <i class="pin"><img src="./assets/images/data-table/red-pin.png"/></i>
                <div class="note-box yellow-background">
                    Üretici kısıtlaması:MANDO Aşınma ikaz kontağı: Aşınma ikaz göstergesi için hazırlanmış değil Uzunluk:133,00 mm Yükseklik:52,30 mm Kalınlık/Kuvvet:18,80 mm Kontrol işareti:E9
                </div>
                </i>

            </td>
            <td class="text-center">
                <a class="data-modal" data-toggle="modal" data-target="#exampleModal">
                    <img src="assets/images/data-table/camera.png" />
                    <div class="modal-img">
                        <img src="./assets/images/example-product.png" alt="">
                    </div>
                </a>
            </td>
            <td class="text-center yesil-kutu">
                <div>11</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>12</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>19</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>25</div>
            </td>
            <td class="text-center">
                <img src="./assets/images/data-table/cancel.png" />
            </td>
            <td class="text-center sari-kutu">
                <div>170</div>
            </td>
            <td class="text-center">tk.</td>
            <td class="text-right pr-1">103,27 ₺</td>
            <td class="text-right pr-1">58,76 ₺</td>
            <td class="text-right pr-1" style="font-weight: bold; color:#155092">69,34 ₺</td>
            <td class="text-black iskonto">
                <i class="iskonto-icon">
                    <img src="assets/images/data-table/iskonto.png"/>
                </i>
                <span>%35</span>
                <span class="text-green">+</span>
                <span>5</span>
                <span class="text-green">+</span>
                <span>5</span>
                <span class="text-green">+</span>
                <span class="text-green-bold">4</span>
            </td>
        </tr>
        <tr ondblclick="openModalBox()">
            <td class="pl-1">KALE B 25250 188 05</td>
            <td class="ref-no">1608691380 <br>1610699280 </td>
            <td>
                ON FREN BALATASI P310 C ELYSEE EB2 (1,2VTI 12V) / EC5 (1,6VTI 16V) P308 II 2013> (MANDO TIPI)
                <i class="kampanyali"> Kampanyalı</i>

                <i class="note-message">
                    <i class="pin"><img src="./assets/images/data-table/red-pin.png"/></i>
                <div class="note-box yellow-background">
                    Üretici kısıtlaması:MANDO Aşınma ikaz kontağı: Aşınma ikaz göstergesi için hazırlanmış değil Uzunluk:133,00 mm Yükseklik:52,30 mm Kalınlık/Kuvvet:18,80 mm Kontrol işareti:E9
                </div>
                </i>

            </td>
            <td class="text-center">
                <a class="data-modal" data-toggle="modal" data-target="#exampleModal">
                    <img src="assets/images/data-table/camera.png" />
                    <div class="modal-img">
                        <img src="./assets/images/example-product.png" alt="">
                    </div>
                </a>
            </td>
            <td class="text-center yesil-kutu">
                <div>11</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>12</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>19</div>
            </td>
            <td class="text-center yesil-kutu">
                <div>25</div>
            </td>
            <td class="text-center">
                <img src="./assets/images/data-table/cancel.png" />
            </td>
            <td class="text-center sari-kutu">
                <div>170</div>
            </td>
            <td class="text-center">tk.</td>
            <td class="text-right pr-1">103,27 ₺</td>
            <td class="text-right pr-1">58,76 ₺</td>
            <td class="text-right pr-1" style="font-weight: bold; color:#155092">69,34 ₺</td>
            <td class="text-black iskonto">
                <!--<i class="iskonto-icon">
                    <img src="assets/images/data-table/iskonto.png"/>
                </i>-->
                <span>%35</span>
                <span class="text-green">+</span>
                <span>5</span>
                <span class="text-green">+</span>
                <span>5</span>
                <span class="text-green">+</span>
                <span class="text-green-bold">4</span>
            </td>
        </tr>
    </tbody>
</table>