<table class="table">
    <thead>
        <tr>
            <th scope="col">Model</th>
            <th scope="col">Kasa Tipi</th>
            <th scope="col">Yakıt Tipi</th>
            <th scope="col">M. Hacmi</th>
            <th scope="col">Motor Gücü</th>
            <th scope="col">Silindir</th>
            <th scope="col">Valf</th>
            <th scope="col">Başlangıç</th>
            <th scope="col">Bitiş</th>
            <th scope="col">Motor Kodları</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <!-- Second Group Row End -->
</table>