<table class="table">
    <thead>
        <tr>
            <th scope="col">Tarih</th>
            <th scope="col">Evrak No</th>
            <th scope="col">Stok Kodu</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Miktar</th>
            <th scope="col">Liste Fiyatı</th>
            <th scope="col">İskonto</th>
            <th scope="col">Bildirim KDV'siz Maliyet</th>
            <th scope="col">Bildirim KDV'li Maliyet</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <!-- Second Group Row End -->
</table>